body {
  font-family: 'Poppins', sans-serif; margin: 0; box-sizing: border-box; height: auto; width: 100%; }

html{ scroll-behavior:smooth; }

.logo { width: 5%; }

.navbar {
  padding: 5px 50px;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.nav__menu {
  display: none;
}

.nav__close {
  display: none;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  
}
.navbar a:hover {
  font-weight: bold;
  transition: 1s;
}
.navbar {
  z-index: 10;
}

/*/PRIMERA SECCION INICIO CON PARALAX/*/

.parallax {
  height: 95vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; 
}

.parallax video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*/FRASE/*/
.parallax-content {
  position: relative;
}

.text-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.animated-text {
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  font-size: 3em;
  opacity: 0; 
  animation: fadeIn 2s ease-out forwards; 
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.titulo h1{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;

}
/*/SOBRE MI/*/

.personal p{
  text-align: justify;
  margin: 0px 0;
  padding: 0px;
}

.antu{
 width: 50%;
}

#inicio2 {
  position: relative;
}

.titulo {
  background-color: #000;
  position: relative;
  text-align: center;
  margin-bottom: 30px; 
}

.texto-sobre-imagen { position: absolute; top: 20%; left: 5%; text-align: start; color: #fff; max-width: 25%; width: 100%; }

.texto-sobre-imagen .sobre{ font-size: 60px; }

.inicio2{ position: relative; height: auto;}

/* ! Seccion de Mision */
.MisionVision{ display: flex; width: 100%; }

.ContenedorMision{ height: 100%; display: flex; padding: 0px 10%; }

.ContenedorMision h1{ font-size: 60px; }

.textosMision{ width: 50%; padding: 0px 10%; }

.MisionIMG{ width: 50%; border-radius: 10px; }


/* ! Seccion  Vision */

.vision{ display: flex; width: 100%; }

.ContenedorVision{ height: 100%; display: flex; margin-top: 5%; padding: 0px 10%; }

.textosVision{ width: 50%; padding: 0px 10%; }

.textosVision h1{ font-size: 60px; }
  
.textosVisionn p{ width: 100%; }

.VisionIMG{ width: 50%; height: 100%; float: left; border-radius: 10px; }

/*/seccion servicios/*/


#servicios { padding-top: 75px; }

#portafolio{ padding-top: 75px; }

.fotorama{
  scale: 0.9;
}
.fotorama img{
  border-radius: 15px;
}
.contenedorIMG{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
}
.servicios{
  text-align: center;
  font-size: 70px;
  margin: 0;
}
.servicio-item {
  width: calc(33.3333% - 20px); 
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.servicio-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

.servicio-item:hover {
  transform: scale(1.1);
}

/*/ PORTAFOLIO */ 


.grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas por fila */
  gap: 10px; /* Espacio entre las imágenes */
  padding: 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

/* Estilo para la visualización en pantalla completa */
.grid-item.active img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

/*/ paquetes*/

#paquetes {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.paquetes-item {
  max-width: 600px; /* Tamaño máximo deseado */
  margin: 10px; /* Espacio entre las imágenes */
  overflow: hidden; /* Oculta el contenido que excede el tamaño del contenedor */
  transition: transform 0.3s; 
  transition: 1s;/* Agrega una transición suave al efecto de zoom */
}

.paquetes-item img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s; /* Agrega una transición suave al efecto de zoom */
}

/* Efecto de zoom al pasar el mouse */
.paquetes-item:hover {
  transform: scale(1.0);
  transition: 1s; /* Ajusta el valor según el nivel de zoom deseado */
}

.paquetes-item:hover img {
  transition: 1s;
  transform: scale(1.05); /* Ajusta el valor según el nivel de zoom deseado */
}



/*/ Responsive General/*/
@media screen and (max-width: 992px) {

.logo { width: 15%; }

.nav__menu { display: block; transition: 1s;}

.navbar ul {
  list-style: none;
  padding: 0;
  display: none;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  position: absolute;
  top: 30px; 
  transition: 1s;
  right: 0;
  width: 100%;
  background-color: #000;
  padding: 10px;
}

.navbar li {
    margin: 3px; 
    transition: 1s;
}

.navbar ul.open {
    display: flex;
    transition: 1s;
}

.nav__menu.active .nav_img {
    display: none;
    position: sticky;
    top: 0;
    transition: 1s;
}

.nav__menu.active .nav__close {
    display: block;
    position: sticky;
    top: 0;
    transition: 1s;
}

.animated-text { font-size: 2.5em; max-height: 8em; }

.antu{ width: 100%; height: 75vh; }

.texto-sobre-imagen { top: 5%; left: 5%; max-width: 50%; color: #989898; font-size: 14px;}

.texto-sobre-imagen .sobre{ font-size: 40px; color: #fff;}

/* ?Contenedor Mision */
.ContenedorMision{ padding: 0px 2%; flex-direction: column; align-items: center; padding: 0 10%;}

.textosMision{ width: 100%; font-size: 16px;}

.MisionIMG { width: 90%; margin-top: 5%; margin-bottom: 10%; }

.ContenedorMision h1{ font-size: 25px; }
/* ? Contenedor Mision */

/* * Contenedor Vision */
.ContenedorVision h1{ font-size: 25px; }

.ContenedorVision{ padding: 0px 2%; flex-direction: column-reverse; align-items: center; padding: 0 10%;}

.textosVision{ width: 100%; font-size: 16px;}

.VisionIMG { width: 90%; margin-top: 5%; margin-bottom: 10%; }
/* * Contenedor Vision */

#servicios { padding-top: 10px; }

#portafolio { padding-top: 10px; }

#paquetes { padding-top: 10px; }

.fotorama{ scale: 0.99; }

.servicios{ font-size: 40px;}

.servicio-item { width: calc(50% - 20px); }

.paquetes-item { width: 90%; }

.paquetes { flex-direction: column; justify-content: center;}
}